footer {
  width: 100%;
  top: 0;
  transition: all .4s;
}

.footer-section {
  padding: 130px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
}

.social-section {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.footer-brand-logo {
  margin-bottom: 30px;
}

.social-section h2 {
  color: #fff;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 28px;
  text-align: justify;
}

.social-section p {
  color: #585b6f;
  line-height: 30px;
  margin-bottom: 28px;
  text-align: justify;
}

.social-link {
  display: flex;
  gap: 12px;
}

.social-link-icon {
  width: 48px;
  height: 48px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 20px;
  background-color: #0a165e;
}

.social-link-icon ion-icon {
  font-size: 26px;
  color: #fff;
}

.quick-link {
  flex: 0 0 auto;
  width: 16%;
  margin-left: 9%;
}

.link h5 {
  color: #0a165e;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -.02em;
}

.link ul li {
  margin-bottom: 22px;
}

.link ul li a {
  color: #585b6f;
}

.service {
  flex: 0 0 auto;
  width: 27%;
  margin-left: auto;
}

.info {
  flex: 0 0 auto;
  width: 18%;
  margin-left: 26px;
}

.blue-background-footer {
  background-color: #040D43;
}

.blue-background-footer .link ul li a,
.blue-background-footer p {
  color: #ced0df;
}

.blue-background-footer h5 {
  color: #fff;
}